books/_backup_before_path_conversion/
books/_path_conversion/
_backup_before_path_conversion/
_path_conversion/
.DS_Store
*.DS_Store
*.ds_store
node_modules/
dist/
build/
.vscode/
.idea/
__pycache__/
*.log
